<div class="section" id="videos">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">My Video</div>
            
     <div class="row">
    
      <!-- <div *ngFor="let video of videoList" class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card" >
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="videoURL()" allowfullscreen></iframe>
            </div>
            <div class="card-body">
              <h4 class="card-title">{{video.title}} </h4>        
            </div>
          </div>
        </div>
      </div> -->

    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
      <div class="blog-entry">
        <div class="card" >
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZVFEZHGDUFg" allowfullscreen></iframe>
          </div>
          <!-- <div class="card-body">
            <h4 class="card-title">รีวิว Volvo V60</h4>        
          </div> -->
        </div>
      </div>
    </div>

  <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
    <div class="blog-entry">
      <div class="card" >
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/b9V6h6cBRwY" allowfullscreen></iframe>
        </div>
        <!-- <div class="card-body">
          <h4 class="card-title"> เที่ยวชิราคาวะโกะ โทยามา คานาซาวา นาโกย่า เที่ยวญี่ปุ่นช่วงปีใหม่</h4>        
        </div> -->
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
    <div class="blog-entry">
      <div class="card" >
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/o9fxMwlW5G8" allowfullscreen></iframe>
        </div>
        <!-- <div class="card-body">
          <h4 class="card-title"> กุ้ยหลิน เมืองแห่งภูเขา ชมถ้ำหลากสี ล่องเรือไม้ไผ่ </h4>        
        </div> -->
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
    <div class="blog-entry">
      <div class="card" >
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aKmFLDCIU28" allowfullscreen></iframe>
        </div>
        <!-- <div class="card-body">
          <h4 class="card-title"> อุทยานสวรรค์หยุนไถซาน วัดเส้าหลิน ถ้ำหลงเหมิน เมือง เจิ้งโจว-ลั่วหยาง </h4>        
        </div> -->
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
    <div class="blog-entry">
      <div class="card" >
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vwrkQ7U4bBE" allowfullscreen></iframe>
        </div>
        <!-- <div class="card-body">
          <h4 class="card-title"> ตะลอนเที่ยว ซัวเถา แต๋จิ๋ว </h4>        
        </div> -->
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
    <div class="blog-entry">
      <div class="card" >
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ttoKPnX6SVQ" allowfullscreen></iframe>
        </div>
        <!-- <div class="card-body">
          <h4 class="card-title"> ซูเปอร์มาร์เก็ต เหอม่า | Hema Supermarket </h4>        
        </div> -->
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
    <div class="blog-entry">
      <div class="card" >
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jMs415ndEOg" allowfullscreen></iframe>
        </div>
        <!-- <div class="card-body">
          <h4 class="card-title"> วันหนึ่งฉันเดินเข้าป่า | MacRitchie Reservoir & Treetop Walk | Singapore </h4>        
        </div> -->
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
    <div class="blog-entry">
      <div class="card" >
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7u3GJWpAjSs" allowfullscreen></iframe>
        </div>
        <!-- <div class="card-body">
          <h4 class="card-title"> Broga Hill, Malaysia </h4>        
        </div> -->
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
    <div class="blog-entry">
      <div class="card" >
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JL5vhc9RJfs" allowfullscreen></iframe>
        </div>
        <!-- <div class="card-body">
          <h4 class="card-title"> เที่ยวเมืองเกาสง 1 วันทำอะไรได้บ้าง</h4>        
        </div> -->
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
    <div class="blog-entry">
      <div class="card" >
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nYMHZxPcz-g" allowfullscreen></iframe>
        </div>
        <!-- <div class="card-body">
          <h4 class="card-title">เขิ่นติ้ง ปั่นจักรยานชมวิวหลักล้าน | Kenting National Park </h4>        
        </div> -->
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
    <div class="blog-entry">
      <div class="card" >
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hM_SSm53VHA" allowfullscreen></iframe>
        </div>
        <!-- <div class="card-body">
          <h4 class="card-title"> ฮัวเหลียนขี่มอไซด์เที่ยวชิวชิว </h4>        
        </div> -->
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
    <div class="blog-entry">
      <div class="card" >
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YTzaOa8S1_I" allowfullscreen></iframe>
        </div>
        <!-- <div class="card-body">
          <h4 class="card-title"> อุทยานแห่งชาติหยางหมิงซาน ตั้นสุ่ย </h4>        
        </div> -->
      </div>
    </div>
  </div>

  <!-- <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
    <div class="blog-entry">
      <div class="card" >
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/" allowfullscreen></iframe>
        </div>
        <div class="card-body">
          <h4 class="card-title"> </h4>        
        </div>
      </div>
    </div>
  </div> -->
    
<!--    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/p3.png" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">Movie Success Prediction(Hackathon)</h4>
           <h5 class="card-text"><b>Technology :</b> Django,Python,ML,DataScience </h5>
           <h5 class="card-text"><a href="https://medium.com/@mehulkothari05/movie-success-prediction-a67d871a7b1"> Read Blog on this  Project</a></h5>
        <a href="https://medium.com/@mehulkothari05/movie-success-prediction-a67d871a7b1" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
          <a href="https://github.com/mehulk05?tab=repositories" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
      </div>
      </div>
      </div>  -->
    
    </div>
    </div>
  </div>