<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2017 - Present</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <!-- <div class="h5">Bachelor of Engineering</div> -->
               <h4 class="category">King Mongkut's University of Technology Thonburi</h4>
               <ul>
                <li> Bachelor's Degree in <b>Computer Engineering</b> </li>
             </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>Jun 2018 - Jul 2018</p>
              <div class="h5">Exchange Student</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5"></div>
               <h4 class="category">Chonnam National University</h4>
               <ul>
                <li> International Summer Session (CNUISS) </li>
                <li> Study Basic Korean </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2011 - 2017</p>
              <div class="h5">Secondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
               <h4 class="category">Assumption Samutprakarn School</h4>
               <ul>
                <li> I am a Thailand representative World Robot Olympiad Competition.</li> <b>2011 </b>in Abu Dhabi, United Arab Emirates. <b>2016</b> in Doha, Qatar
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>